.gallery {
  width:100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.error-msg {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  color: red;
  padding: 25px 0;
  font-weight: bold;
}